<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

<title>109-1 107 期末考</title>

<div id="intro">
    <h1 align="center">109-1 107 銜接課程 期末考</h1>
    <h2 align="center">試場規則</h2>
    <ol>
        <li>考試時間為 <span class="important">50</span> 分鐘，全部作答完畢並上傳 google classroom 後得以提前離開考場。</li>
        <li>考試過程中採用 open book 格式，網路並不會封鎖，可以善用資源進行資料查找工作。</li>
        <li>考試過程中<span class="important">嚴禁</span>以任何形式交談或是交換資訊，亦不允許幫助他人查找資料。一旦有相關情事，期末以 <span class="important">0</span> 分計算。</li>
        <li>考試前會有考前說明，請務必詳細聆聽!</li>
    </ol>

    <form method="post" action="/" align="center">
        <input type="text" name="pw" placeholder="請輸入密碼" />
        <button type="submit">submit</button>
    </form>
</div>

